 <!--output = ', '.join([str(libro.id), libro.nombre, str(libro.editorial), str([a.nombre for a in libro.autores.all()])])-->

 {% extends "base.html" %}

 {% block titulo %} Detalle del libro{% endblock %}
 
 {% block contenido %}
 <h2>Datos del libro</h2>
 
 {% if libro %}
     <ul>
         <li>
             {{ libro.id}}
         </li>
         <li>
             {{ libro.nombre}}
         </li>
         <li>
            {{ libro.fechaPubli |date:'Y-m-d'}}
        </li>
         <li>
            {{ libro.sinopsis}}
        </li>
         <li>
             {% if autores %}
             <ul>
             {% for a in autores %}
                 <li>
                     <a href= "{% url 'detallesAutores' a.id %}">{{ a.nombre }}</a>
                 </li>
             {% endfor %}
             </ul> 
             {% else %}
                 <p>No se dispone de la información del autor del libro {{editorial.nombre}}</p>
             {% endif %}
         </li>
     </ul>
 {% else %}
     <p>No se dispone de la información del autor del libro {{editorial.nombre}}</p>
 {% endif %}
 
 {% endblock %}

