<!--output = ', '.join([str(autor.id), autor.nombre, str([l.nombre for l in autor.libro_set.all()])])-->
{% extends "base.html" %}

{% block titulo %} Detalle del autor {% endblock %}

{% block contenido %}

<script>
    window.onload=function(){
    document.getElementById("op4").style.background="white";
    }
</script>

<h2>Datos del autor</h2>

{% if autor %}
    <ul>
        <li>
            {{ autor.id}}
        </li>
        <li>
            {{ autor.nombre}}
        </li>
        <li>
            {{ autor.biografia}}
        </li>
        <li>
            {% if libros %}
            <ul>
            {% for l in libros %}
                <li>
                    <a href= "{% url 'detallesLibro' l.id %}">{{ l.nombre }}</a>
                </li>
            {% endfor %}
            </ul> 
            {% else %}
                <p>El autor {{autor.nombre}} no tiene libros</p>

            {% endif %}
        </li>
    </ul>
{% else %}
    <p>No existe este autor.</p>
{% endif %}

{% endblock %}
