<!--output = ', '.join([str(libro.id), libro.nombre, str(libro.editorial), str([a.nombre for a in libro.autores.all()])])-->
{% extends "base.html" %}
{% load static %}

{% block titulo %} ¡Las últimas novedades de las editoriales!{% endblock %}

{% block contenido %}

<script>
    window.onload=function(){
    document.getElementById("op1").style.background="white";
    }
</script>

<div>

    
        {% if libro1 %}
        {% if libro2 %}
        
        
            <div class="container conjuntoImagenes"> 
                <div class="row">
                    
                    <div class="galeriaIndex">
                        <div class="pieIndex">
                            <div class = "jaja">
                                <a href="{% url 'detallesEditoriales' 1 %}">PLANETA DEL LIBRO</a>
                            </div>
                        </div>
                        <div class="foto">
                            <div>
                                <a href="{% url 'detallesLibro' libro1.id %}"><img src= {{ libro1.imagenLink }} alt=""></a>
                            </div>
                        </div>
                        <div class="pieIndex">
                            <div>
                                <a href="{% url 'detallesLibro' libro1.id %}">{{ libro1.nombre }}</a>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="galeriaIndex">
                        <div class="pieIndex">
                            <div class = "jaja">
                                <a href="{% url 'detallesEditoriales' 2 %}">EREIN</a>
                            </div>  
                        </div>
                        <div class="foto">
                            <div> 
                                <a href="{% url 'detallesLibro' libro2.id %}"><img src= {{ libro2.imagenLink }} alt=""></a>
                            </div>
                        </div>
                        <div class="pieIndex">
                            <div> 
                                <a href="{% url 'detallesLibro' libro2.id %}">{{ libro2.nombre }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            {% else %}
                <p>No hay libros disponibles de la editorial libro2.editorial.nombre</p>
            {% endif %}
        {% else %}
        <p>No hay libros disponibles</p>   
        {% endif %}
                
    
</div>          


{% endblock %}
