{% extends "base.html" %}

{% block titulo %} Lista de autores{% endblock %}
 
{% block contenido %}

<script>
    window.onload=function(){
    document.getElementById("op4").style.background="white";
    }
</script>
<h2>Listado de autores</h2>
<ul>
    {% for autor in lista_autores %}
    
    <li>
        {{ autor.id }}: 
        <a href= "{% url 'detallesAutores' autor.id %}">{{ autor.nombre }}</a>
        <img src= {{ autor.imagenLink }} class="autor" alt="">
    </li>
    {% endfor %}
</ul>

{% endblock %}
