{% extends "base.html" %}

{% block titulo %} Lista de autores{% endblock %}
 
{% block contenido %}

<script>
    window.onload=function(){
    document.getElementById("op4").style.background="white";
    }
</script>
<h2>Listado de autores</h2>
<ul>
   
    <div class="container conjuntoImagenes"> 
        {% for autor in lista_autores %}
            <div class="galeria">
                <div class="pie">
                    <div>
                        <a href="{% url 'detallesAutores' autor.id %}">{{ autor.nombre }}</a>
                    </div>
                </div>
                <div class="foto">
                    <div>
                        <a href="{% url 'detallesAutores' autor.id %}"><img src= {{ autor.imagenLink }} alt=""></a>
                    </div>
                </div>
            </div> 
    {% endfor %}
    </div>


{% endblock %}
