{% extends "base.html" %}

 {% block titulo %} ¡Echa un vistazo a todos los libros que tenemos!{% endblock %}
 
 {% block contenido %}

 <script>
    window.onload=function(){
    document.getElementById("op2").style.background="white";
    }
</script>


    <div class="container conjuntoImagenes">
        <div class="row"> 
        {% for libro in lista_libros %}
            <div class="galeria">
                <div class="foto">
                    <div>
                        <a href="{% url 'detallesLibro' libro.id %}"><img src= {{ libro.imagenLink }} alt=""></a>
                    </div>
                </div>
                <div class="pie">
                    <div>
                        <a href="{% url 'detallesLibro' libro.id %}">{{ libro.nombre }}</a>
                    </div>
                    <div>
                        
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>




{% endblock %}