{% extends "base.html" %}
{% load static %}

 {% block titulo %} ¡Echa un vistazo a todos los libros que tenemos!{% endblock %}
 
 {% block contenido %}

 <script>
    window.onload=function(){
    document.getElementById("op2").style.background="white";
    }
</script>


    <div class="container conjuntoImagenes">
        <div class="row"> 
        {% for libro in lista_libros %}
            <div class="galeria">
                <div class="fotoynombre">
                    <div class="foto">
                        <div>
                            <a href="{% url 'detallesLibro' libro.id %}"><img src= {{ libro.imagenLink }} alt=""></a>
                        </div>
                    </div>
                    <div class="pie">
                        <div>
                            <a href="{% url 'detallesLibro' libro.id %}" style="font-weight: bold;">{{ libro.nombre }}</a>
                        </div>
                    </div>
                </div>
                <div class="clasificacionestrellas"> {{libro.mediaValoracion}}
                    <span class="fa fa-star" id="1estrella" style="color: orange;"></span> / 5
                    <span class="fa fa-star" id="2estrella" style="color: orange;"></span>
                </div>
            </div>
            
        {% endfor %}
        </div>
    </div>
    <script src="{% static 'js/calificar.js' %}">
    </script>




{% endblock %}