{% extends "base.html" %}

 {% block titulo %} Lista de libros{% endblock %}
 
 {% block contenido %}

 <script>
    window.onload=function(){
    document.getElementById("op2").style.background="white";
    }
</script>
<h2>Listado de libros</h2>
<ul>
    <div class="container conjuntoImagenes"> 
    {% for libro in lista_libros %}
    <div class="row">
        <div class="galeria">
            <div>
                <h3 class="tituloH3">{{libro.nombre}}</h3>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="galeria">
            <div class="foto">
                <div>
                    <a href="{% url 'detallesLibro' libro.id %}"><img src= {{ libro.imagenLink }} alt=""></a>
                </div>
            </div>
    {% endfor %}
</ul>


{% endblock %}