{% extends "base.html" %}

 {% block titulo %} Lista de editoriales{% endblock %}
 
 {% block contenido %}

 <script>
    window.onload=function(){
    document.getElementById("op3").style.background="white";
    }
</script>

<h2>Listado de editoriales</h2>
<ul>
    <div class="container conjuntoImagenes"> 
    {% for editorial in lista_editoriales %}
    
        <div class="row">
            <div class="galeria">
                <div class="pie">
                    <div>
                        <a href="{% url 'detallesEditoriales' editorial.id %}">{{ editorial.nombre }}</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="galeria">
                <div class="foto">
                    <div>
                        <a href="{% url 'detallesEditoriales' editorial.id %}"><img src= {{ editorial.imagenLink }} alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
     </div>
</ul>

{% endblock %}
