{% extends "base.html" %}

 {% block titulo %} Lista de editoriales{% endblock %}
 
 {% block contenido %}

 <script>
    window.onload=function(){
    document.getElementById("op3").style.background="white";
    }
</script>

<h1>App Libros</h1>
<h2>Listado de editoriales</h2>
<ul>
    {% for editorial in lista_editoriales %}
    
    <li>
        {{ editorial.id }}:
        <a href= "{% url 'detallesEditoriales' editorial.id %}">{{ editorial.nombre }}</a>
    </li>
    {% endfor %}
</ul>

{% endblock %}
