{% extends "base.html" %}

 {% block titulo %} ¿Por cuál de las editoriales te decantas?{% endblock %}
 
 {% block contenido %}

 <script>
    window.onload=function(){
    document.getElementById("op3").style.background="white";
    }
</script>


<ul>
    <div class="container conjuntoImagenes"> 
        <div class="row">
        {% for editorial in lista_editoriales %}
        
            
                <div class="galeriaEditorial">
                    <div class="fotoEditorial">
                        <div>
                            <a href="{% url 'detallesEditoriales' editorial.id %}"><img src= {{ editorial.imagenLink }} alt=""></a>
                        </div>
                    </div>
                    <div class="pieEditorial">
                        <div>
                            <a href="{% url 'detallesEditoriales' editorial.id %}">{{ editorial.nombre }}</a>
                        </div>
                    </div>
                </div>
            
        {% endfor %}
        </div>
     </div>
</ul>

{% endblock %}
