.titulo{
    font-family: 'Poppins', sans-serif;
	color: rgb(121, 13, 58);
	font-size: 2em;
	letter-spacing: 7px;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.subtituloH3{
    font-family: 'Poppins', sans-serif;
	color: rgba(0, 0, 0, 0.493);
	font-size: 1.5em;
	letter-spacing: 7px;
    text-align: center;
    margin-top: 0.5%;
    margin-bottom: 1%;
    font-weight: bold;
    
}

.row{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    size: 80%;
}


.pie{
    text-align: center;
}


div.galeria{
    margin: 10px 10px;
    float: left;
    width: 40%;
    text-align: center;
    align-items: center;
}

div.foto img{
    width:100%;
    height: auto;
    margin-top: 0%;
    border-style:outset;
    border-color: black;
    align-items: center;
    text-align: center;
   
}

div.galeria:hover{
    border: 1px lightslategray;
    opacity: 0.5;
}

.borde{
    border-style: outset;
    border-color: black;
}

div.pie{
    text-align: center;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
}