div{
    margin-top: 3%;
    margin-bottom: 0%;
}
h2{
    font-family: 'Poppins', sans-serif;
	color: rgb(121, 13, 58);
	font-size: 3em;
	letter-spacing: 7px;
    text-align: center;
}
.tituloH3{
    font-family: 'Poppins', sans-serif;
	color: rgb(61, 61, 61);
	font-size: 1.5em;
	letter-spacing: 7px;
    text-align: center;
    font-weight: bold;
}

.row{
    text-align: center;
}

.pie{
    text-align: center;
}


div.galeria{
    float: left;
    width: 30%;
    text-align: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}

div.foto img{
    width:100%;
    height: auto;
    border-style:outset;
    border-color: black;
    align-items: center;
    text-align: center;
   
}

div.galeria:hover{
    border: 1px lightslategray;
    opacity: 0.5;
}

.borde{
    border-style: outset;
    border-color: black;
}

div.pie{
    padding: 10px;
    font-family: 'Poppins', sans-serif;
	color: rgb(61, 61, 61);
	font-size: 0.8em;
	letter-spacing: 7px;
    text-align: center;
}

