h2{
    font-family: 'Poppins', sans-serif;
	color: rgb(121, 13, 58);
	font-size: 3em;
	letter-spacing: 15px;
    text-align: center;
}

div.galeria{
    margin: 10px 10px;
    float: left;
    width: 350px;
}

div.foto img{
    width:30%;
    height: auto;
    margin-top: 5%;
    align-items: center;
}

div.galeria:hover{
    border: 1px lightslategray;
    opacity: 0.5;
}

div.listaIndice{
    text-align: center;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
}