/*
*{
    margin:0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 20%;
}
*/

html{
    min-height: 100%;
    position: relative;
}

/*body*/

body{
    margin-top: -64px;
    height: 100%;
    padding: 0px;
    margin: 0px;
    margin-bottom: 60px;
}


/*//body*/

/*Header*/

.logo{
    width: 5%;
    height: 5%;
    margin-left: 47.5%;
    margin-right: 47.5%;
    margin-bottom: 2%; 
    margin-top: -0.3%;
    
}

h1{
    margin-top: 0px;
}

div.izenburu a{
    color: rgb(121, 13, 58);
}

div.izenburu a:hover{
    color: rgba(180, 133, 149, 0.774);
}
.estiloTitulo{
    font-family: 'Poppins', sans-serif;
	color: rgb(121, 13, 58);
	text-shadow: 0.05em 0.075em 0 rgba(0, 0, 0, 0.1);
	font-size: 3em;
	letter-spacing: 15px;
    text-align: center;
    margin-top: 10%;
}

.estiloTitulo a:hover{
    color: rgb(121, 13, 58);
}

.estiloSubtitulo a:hover{
    color: rgb(121, 13, 58);
}

.estiloSubtitulo{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color:rgb(0, 0, 0);
    text-shadow: 0.05em 0.075em 0 rgba(0, 0, 0, 0.1);
    font-size: 1em;
    letter-spacing: 6px;
}

.navegacion{
    width: 100%;
    margin: auto;
    background: rgba(136, 66, 95, 0.966);
    text-align: center;
}

.nav-item {
    font-family: 'Poppins', sans-serif;
    font-size: 0.95rem;
    color: rgba(180, 133, 149, 0.774);
    letter-spacing: 0.0625em;
}

.navegacion ul{
    list-style: none;
    display: inline-block;
    padding: 0.4px;  
}

.menu > li{
    position: relative;
    display: inline-block;
}

.menu > li > a{
    display: block;
    padding: 15px 20px;
    
    color: rgb(201, 170, 182);
    font-family: 'Poppins', sans-serif;
    font-weight:bold;
}

.menu > li > a:hover{
    color:rgba(158, 122, 139, 0.959);
    transition: all .3s;
}

/*//header*/



/*footer*/

a:link {
	color: rgb(0, 0, 0);
    text-decoration: none;
}


a:visited {
	color:  rgb(0, 0, 0);
    text-decoration: none;
}



a:active {
	color:  rgb(0, 0, 0);
    text-decoration: none;
}

.footer a:hover{
    color: rgba(180, 133, 149, 0.774);
 }

.pieIndex a:hover{
    color: rgba(180, 133, 149, 0.774);
 }

.pie a:hover{
    color: rgba(180, 133, 149, 0.774);
 }

.pieEditorial a:hover{
    color: rgba(180, 133, 149, 0.774);
 }

.pieAutor a:hover{
    color: rgba(180, 133, 149, 0.774);
 }

.footer{
    background: rgba(136, 66, 95, 0.966);
    color: rgb(0, 0, 0);
    line-height: 40px;
    position: relative;
    margin-top: 100px;
    width: 100%;
    bottom: 0;
    display:inline-block;
    clear:both;
}

.todoFooter{
    display: grid;
    margin-top: -2%;
}

.cuerpo{
    display: block;
    justify-content:space-between;
  
}

.columna1{
    max-width: 400px;
    float: left;
    font-family: 'Poppins', sans-serif;
    margin-left: 70px;
    margin-right: 50px;
    margin-bottom: 20px;
    font-size: 13px;
}


.columna1 h2{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    margin-top: 15px;
    letter-spacing: 2px;
    margin-left: -55%;
    margin-bottom: 5%;
    
}

.columna1 p{
    font-size: 13px;
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    line-height: 20px;
}

.columna2{
    max-width: 400px;
    float: left;
    font-family: 'Poppins', sans-serif;
    margin-left: 70px;
    margin-right: 50px;
    margin-bottom: 20px;
    font-size: 13px;
}


.columna2 a svg:hover{
    color: rgba(180, 133, 149, 0.774);
}


.columna2 h2{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    margin-top: 15px;
    letter-spacing: 2px;
    margin-left: -55px;
    
}
.fa-facebook i:hover{
    color: rgba(180, 133, 149, 0.774);
}


.btn-social {
  height: 2.5rem;
  width: 2.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 100%;
}

.boton {
    border-right: 0;
}

.fa-phone{
    border-right: 0;
}

.fa:hover{
    opacity: 0.7;
}


.fa-facebook{
    background:#00000000;
    color: rgb(22, 22, 22);
}

.fa-twitter{
    background: #00000000;
    color: rgb(22, 22, 22);
}

.fa-instagram{
    background: rgba(0, 0, 0, 0);
    color: rgb(22, 22, 22);
}

.columna3{
    max-width: 400px;
    float: left;
    font-family: 'Poppins', sans-serif;
    margin-left: 70px;
    margin-right: 50px;
    margin-bottom: 50px;
    font-size: 13px;
}


.columna3 h2{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    margin-top: 15px;
    letter-spacing: 2px;   
}



.fila2{
    display: flex;
    line-height: 15px;
}

.fila2 img{
    width: 36px;
    height: 36px;
}

.fila2 label{
    margin-left: 0px;
    max-width: 140px;
    margin-top: 10px;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;

}

.cuerpoDebajo{
    background: rgb(90, 49, 68);
    position: relative;
    display: block;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
}

.copyright{
    color:rgb(236, 195, 219);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}

.copyright a{
    text-decoration: none;
    color:rgb(236, 195, 219);
    font-size: 13px;

    
}

/*//footer*/



