{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block titulo %} 
{% trans "Iniciar sesión" %}
{% endblock %}

{% block contenido %}

<script>
  window.onload=function(){
  document.getElementById("op1").style.pointerEvents="none";
  document.getElementById("op2").style.pointerEvents="none";
  document.getElementById("op3").style.pointerEvents="none";
  document.getElementById("op4").style.pointerEvents="none";
  document.getElementById("cabecera").style.pointerEvents="none";
  document.getElementById("cabecera2").style.pointerEvents="none";
  document.getElementById("cabecera3").style.pointerEvents="none";
  }

</script>


<div class="login-page">
  <div class="form">
    
    <form class="login-form" action="{% url 'iniciarSesionUsuario' %}" method="POST">
      {% csrf_token %}
      {{form}}
      <button type="submit"> {% trans "Iniciar sesión" %}</button>
      <p class="message">{% trans "¿Aún no tiene una cuenta?" %} <a href="{% url 'registrarse' %}">{% trans "Crear una cuenta" %}</a></p>
    </form>
  </div>
</div>

<script src="{% static 'js/jquery.js' %}">
</script>

{% endblock %}