{% extends "base.html" %}
{% load i18n %}
{% block titulo %} {% trans "¡Echa un vistazo a todos los autores!" %}{% endblock %}

{% block contenido %}

<script>
    window.onload=function(){
    document.getElementById("op4").style.background="white";
    }
</script>


   
    <div class="container conjuntoImagenes"> 
        <div class="row">
        {% for autor in lista_autores %}
            <div class="galeria">
                <div class="fotoAutor">
                    <div>
                        <a href="{% url 'detallesAutores' autor.id %}"><img src= {{ autor.imagenLink }} alt=""></a>
                    </div>
                </div>
                <div class="pieAutor">
                    <div>
                        <a href="{% url 'detallesAutores' autor.id %}">{{ autor.nombre }}</a>
                    </div>
                </div>
            </div> 
         {% endfor %}
        </div>
    </div>



{% endblock %}
